{#
/**
 * @file
 * Template for the main page.
 */
#}
{#
<header class="container-fluid">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Atlas</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Libros</a></li>
        <li><a href="badges.html">Cds</a></li>
        <li><a href="collapsible.html">Lps</a></li>
        <li><a href="mobile.html">Peliculas</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Libros</a></li>
        <li><a href="badges.html">Cds</a></li>
        <li><a href="collapsible.html">Lps</a></li>
        <li><a href="mobile.html">Peliculas</a></li>
      </ul>
    </div>
  </nav>
</header>
#}
<header class="container-fluid">
  {% if page.headline %}
    <section id="headline">
      <div class= "container-fluid">
            {{ page.headline }}
      </div>
    </section>
  {% endif %}
  <nav>
    <div class="nav-wrapper">
      {#
      <a href="#!" class="brand-logo">
      {% if page.logo %}
        {{ page.logo }}
      {% endif %}
      </a>
      #}
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/producto/libro">Libros</a></li>
        <li><a href="badges.html">Cds</a></li>
        <li><a href="collapsible.html">Lps</a></li>
        <li><a href="mobile.html">Peliculas</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Libros</a></li>
        <li><a href="badges.html">Cds</a></li>
        <li><a href="collapsible.html">Lps</a></li>
        <li><a href="mobile.html">Peliculas</a></li>
      </ul>
    </div>
  </nav>
</header>
<main role="main">
  <div class="container">
    {{ page.content }}
  </div>
</main>

{% if page.footer %}
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 m6 s12 center">
          <i class="large material-icons">settings_input_composite</i>
          <h5 class="white-text">Quienes somós</h5>
          <p class="grey-text text-lighten-4"><b>SEG GROUP</b>, kjajs aksn akasjas kasasoa ass kajbaljns  alkndslkna lkanldnalsnd kjaldhald najdlka
          </p>
        </div>
        <div class="col l4 m6 s12 center">
          <i class="large material-icons">settings_input_composite</i>
          <h5 class="white-text">Mision</h5>
          <p class="grey-text text-lighten-4">kjajs aksn akasjas kasasoa ass kajbaljns  alkndslkna lkanldnalsnd kjaldhald najdlka
          </p>
        </div>
        <div class="col l4 m6 s12 center">
          <i class="large material-icons">settings_input_composite</i>
          <h5 class="white-text">Visión</h5>
          <p class="grey-text text-lighten-4">kjajs aksn akasjas kasasoa ass kajbaljns  alkndslkna lkanldnalsnd kjaldhald najdlka
          </p>
          {#
          {{ page.footer }}
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
          #}
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2017 4eign
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
{% endif %}

